body {
    font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
    margin: 0px;
    background-color: #e9ece5;
    padding-bottom: 30px;
    color: #3b3a36;
   
}

span {
    font-size: 5vh;
}

a {
    color: inherit;
    text-decoration: none;
}

.flex {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.project-container {
    height: 100%;
}

.image {
    width: 80%;
    height: auto;
    margin-top: 30px;
}

.flex-center {
  justify-content: center;
  text-align: center;
}

.flex-column {
  flex-direction: column;
}

.title {
    color: #3b3a36;
    font-size: 5em;
    margin-bottom: 0px;
}

.subtitle {
    color: #3b3a36;
    font-size: 1.5em;
}

.body-text {
    color: #3b3a36;
    font-size: 1.5em;
    margin-top: 50px;
}

.freetime {
    font-size: 3vh;
}

.center {
    /* margin-top: 50px; */
}

.box {
    width: 100%;
    height: 50%;
    text-align: center;
    background-position: center center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    border-top: 5px solid #3b3a36;
}


.item-header {
    font-size: 2.5em;
    opacity: 1;
}

#ev {
    background-image: url('../img/projects/ev.jpg');
}

#watch {
    background-image: url('../img/projects/watch.jpg');
}

#nas {
    background-image: url('../img/projects/nas.jpg');
}

#rip {
    background-image: url('../img/projects/rip.jpg');
}

#home {
    background-image: url('../img/projects/home.jpg');
}

#os {
    background-image: url('../img/projects/arch.png');
}
